{% capture main_content %}
<div class="row">
  <div class="col-12 col-md-5">
    <img src="{{ '/assets/images/lhe2.jpeg' | relative_url }}" alt="" class="rounded small-screen-bottom-space" />

    <div class="callout">
      <p>We want all our guests and their families to feel as welcome as possible on the day. Children will be invited
        to join us at the ceremony, then we will move to an adult-only arrangement for the reception.</p>
    </div>
  </div>
  <div class="col-12 col-md-6 col-md-offset-1">
    <span class="lead-in">The celebration</span>
    <h2>Ceremony</h2>

    {% include time-section.html
    time="4pm"
    title="Arrival"
    content="<p>Find a spot to make yourself comfortable and mingle amongst yourselves. The fun will begin shortly...
    </p>"
    %}

    {% include time-section.html
    time="4:15pm"
    title="Ceremony begins"
    content="<p>Please make sure your devices are set to silent/do-not-disturb mode.</p>"
    %}

    {% include time-section.html
    time="?:??pm"
    title="Reception: The party starts"
    content="<p>We are doing things a bit more casual. There is no seated meal. A wide variety of cocktail food will be
      served throughout the evening. There will also be a limited but generous tab for basics (beer, wine, soft drink)
    </p>"
    %}

    {% include time-section.html
    time="?:??pm"
    title="Wrap up"
    content="<p>The venue will be closing at this time and we will all depart. The rest of the evening will be
      unplanned, but likely eventful.</p>"
    %}

  </div>
</div>
{% endcapture %}

{% include page-section.html
content=main_content
slug="ceremony-reception"
%}
