{% capture main_content %}
<div class="row">
  <div class="col-12 col-md-6">
    <span class="lead-in">Location</span>
    <h2>Lightning Hill Estate</h2>
    <p>Dress code: Formal to Smart Casual.</p>
    <p>Children are welcome at the ceremony. The reception will be adults only.</p>
    <p>130 Whiteside Road, Officer VIC, Australia</p>
    <p>Access is via the Princes Highway only. Whiteside Road is part-gravel and has some steep points.</p>
  </div>

  <div class="col-12 col-md-6">
    <iframe width="100%" height="450" style="border:0" loading="lazy" allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJtz2IJ_kZ1moRAJ7SpH5ab-c&key=AIzaSyBzeVuqmLCNvrOMTQ2bkzk-Tauf9nLfcMA"></iframe>
  </div>
</div>

{% endcapture %}

{% include page-section.html
content=main_content
slug="venue"
%}
