footer {
  background-color: var(--white);
  padding: 20px;

  p {
    margin-bottom: 0;
    text-align: center;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-size: 12px;
  }
}
