h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 28px;
  line-height: 32px;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

body {
  font-family: var(--font-primary);
}

.accent {
  color: var(--accent);
}

.lead-in {
  display: block;
  margin-bottom: 8px;
  color: var(--accent);
  font-size: 12px;
  font-family: var(--font-secondary);
  letter-spacing: 2.6px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}
